python == 3.6.0  
Jinja2 == 2.11.3  
numpy == 1.17.4  
tensorboardX == 1.6  
tqdm == 4.55.1  
transformers[sentencepiece] == 4.1.1  
scikit-learn == 0.24.0  
spacy == 2.2.4  
flask == 1.1.2  
flask-cors == 3.0.10  
gevent == 21.1.2  
pillow == 8.2.0  
pytorch-gpu == 1.7.0  
torchvision == 0.8.0  
en_core_web_sm == 2.2.5  
future == 0.18.2 
opencv-python
timm
ftfy==6.0.3
pycocotools==2.0.4
pycocoevalcap==1.2
pytorch_lightning
einops
datasets
rouge_score
python-Levenshtein
zhconv 
